
<hr>
<div class="container">
    <div class="left">
        <p>Job Reference № {{jobReference}}</p>
        <p>Date of issue {{dateOfIssue}} \ Sampling date {{samplingDate}}</p>
    </div>
    <div class="mid">
        <div class="page_num">
            <p>Page {{currentPage}}/{{totalPageCount}}</p>
        </div>
        <h4>Global Sampling & Analysis Ltd</h4>
        <p>Special Economic Zone, Plot No B2, P.B 3251 Kigali, Rwanda</p>
        <p>Tel: +250788300142</p>
        <p>E-mail: enquiries@globalsagroup.com</p>
    </div>
    <div class="right"></div>
</div>
