<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/gsaClientInvoiceTemplate.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="logo">
            <img src="./public/assets/logo.png" alt="gsa-logo">
        </div>
        <div class="title">
            <p id="location">Special Economic Zone, Plot № B2, P.B 4149 Kigali, Rwanda</p>
            <p id="email_and_phone">Email: enquiries@globalsagroup.com Mobile: +250788300142</p>
            <p id="tin">Tin: 111425607</p>

            <h2>Invoice: {{file_name}}</h2>
        </div>
        
        <div class="customer_details">
            <h4>Customer Details:</h4>
            <div class="item">
                <p>Company Name:</p>
                <p>{{customer_details.company_name}}</p>
            </div>
            <div class="item">
                <p>Address:</p>
                <p>{{customer_details.company_address}}</p>
            </div>
            <div class="item">
                <p>Phone Number:</p>
                <p>{{customer_details.company_phone}}</p>
            </div>
            <div class="item">
                <p>Email:</p>
                <p>{{customer_details.company_email}}</p>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Date(s)</th>
                    <th>Item</th>
                    <th style="width: 150px;">Certificate №</th>
                    <th>Service Description</th>
                    <th style="width: 50px;">Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price {{currency}}</th>
                </tr>
            </thead>
            <tbody>
                <tr {{#each sampled_request}}>
                    <td>{{date}}</td>
                    <td>{{item}}</td>
                    <td>{{certificate_number}}</td>
                    <td>{{service_description}}</td>
                    <td>{{unit_price}}</td>
                    <td>{{quantity}}</td>
                    <td>{{total_price}}</td>
                </tr {{/each}}> 
            </tbody>
            <tfoot>
                {{#if sub_total}}
                <tr>
                    <td>Sub Total</td>
                    <td colspan="5"></td>
                    <td>{{sub_total}}</td>
                </tr>
                {{/if}}
                {{#if vat}}
                <tr>
                    <td>VAT (18%)</td>
                    <td colspan="5"></td>
                    <td>{{vat}}</td>
                </tr>
                {{/if}}
                {{#if grand_total}}
                <tr>
                    <td>Total</td>
                    <td colspan="5"></td>
                    <td>{{grand_total}}</td>
                </tr>
                {{/if}}
            </tfoot>
        </table>

        <div class="bank_details">
            <h3>Bank Details:</h3>
            <div class="item">
                <h4>Bank Name:</h4>
                <h4>Access Bank</h4>
            </div>
            <div class="item">
                <h4>SWIFT:</h4>
                <h4>BKORRWRW</h4>
            </div>
            <div class="item">
                <h4>Holder:</h4>
                <h4>Global Sampling and analysis Ltd</h4>
            </div>
            <div class="item">
                <h4>Account № (USD):</h4>
                <h4>1002100207029502 (USD)</h4>
            </div>
            <div class="item">
                <h4>Account № (RWF):</h4>
                <h4>1002100107029501 (RWF)</h4>
            </div>
        </div>

        <div class="footer">
            <h4>Yours Sincerely, <br>GSA LTD</h4>
        </div>
    </div>
</body>
</html>